body{
    padding: 0;
    margin: 0;
}

header{
    width:1345px;
    height: 650px;
    background-size:100%;
    background-image: url(./img/bd.png);
}
.conteiner{
 
    /* background-color: green; */
    margin: 0 auto;
    width: 940px;
    height: 740px;
}
.menu{
     justify-content: space-between;
    display: flex;
   position: relative;
   top: 36px;
}
.menu_buttons{
    display: flex;
}
.logo{
    background-size:100%;
    font-size: 20px;
letter-spacing: 1px;
color: #ffffff;
font-family: "Montserrat";
font-weight: 700;
display: flex;
align-items:center
}
.singup{
    width:90px ;
    height: 36px;
    font-size: 14px;
    letter-spacing: 1px;
        color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    display: flex;
    justify-content: center;
        align-items: center;
}
.login{
    width:90px ;
    height: 36px;
    font-size: 14px;
    letter-spacing: 1px;
        color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    display: flex;
    justify-content: center;
        align-items: center;
}
.login:hover{
    border-radius: 18px;
        background-color: rgba(26,25,21,0);
    border: 2px solid #ffffff;
}
.singup:hover{
    border-radius: 18px;
    background-color: rgba(26,25,21,0);
    border: 2px solid #ffffff;
}
.menu_hedder{
    position: relative;
    top: 180px;
    display: flex;
    justify-content: center;
    font-size: 52px;
    color: #7653b3;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
}
.text{
    position: relative;
    top: 210px;
    display: flex;
    justify-content: center;
    font-size: 24px;
color: #ffffff;
font-family: "Roboto";
font-weight: 300;

}
.text1{
    position: relative;
    top: 260px;
    display: flex;
    justify-content: center;
    
}
.text1:hover{

    width: 225px;
    height: 40px;
    border-radius: 20px;
    background-color: #ff4e50;
    
   
    
}
.button{
    position: relative;
    top: 240px;
    display: flex;
    width: 225px;
    height: 40px;
    border-radius: 20px;
    background-color: #ff4e50;
    font-size: large; 

}

.n{
    display: flex;
    justify-content: center;
    width: 225px;
    height: 40px;
    border-radius: 20px;
    background-color: #ff4e50;
}
    

.h{
    position: relative;
    
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: #333333;
    font-family: "Montserrat";
    font-weight: 700;
}


.x{ 
    justify-content: center;
    display: flex ;}


.i{
    display: flex;
      justify-content: space-around;
}


.span{
    position: relative;
    display: flex;
    width:1000px;
    
    top: 20px;
   
    justify-content: space-around;
    margin-left: 200px;
   
    
}
.s{
    width: 221px;
    height: 35px;
    font-size: 14px;
    color: #666666;
    font-family: "Roboto";
    font-weight: 300;
}






.f{ 
    display: flex;
    justify-content: center;
    margin-left: 90px;
    width:1100px;
    height: 150px;
     }
  




.s1{
    border-radius:16px;
    color: black;
    border-radius: 100px;
    background-image: url(./img/Layer\ 6.png) ;
    margin-left:105px;
    width: 120px;
    height: 120px;}


.s2{
     border-radius:16px;
     color: black;
     border-radius: 100px;
     background-image: url(./img/Layer\ 7.png ) ;
     margin-left:160px;
     width: 120px;
    height: 120px;}
    
.s3{
        border-radius:16px;
        color: black;
        border-radius: 100px;
        background-image: url(./img/Layer\ 8.png) ;
        margin-left:170px;
        width: 120px;
        height: 120px;}
    
    
    
    
    
    
.s4{
    border-radius:16px;
    color: black;
    border-radius: 100px;
    background-image: url(./img/Layer\ 9.png) ;
    margin-left:170px;
    width: 120px;
    height: 120px;}
                
    
.icon1{
        width: 21px;
        height: 21px;
        border-radius: 16px;
        background-color: #ff4e50;
        border: 4px solid #ffffff;
         background-image:url(./img/Shape\ 128.png);
        position: relative;
        left: 95px;
        top: 90px;}
    
    
.icon2{
     width: 19px;
     height: 19px;
     border-radius: 16px;
     background-color: #1ab798;
     border: 4px solid #ffffff;
      background-image:url(./img/Shape\ 155.png);
      position: relative;
     left: 94px;
     top: 90px;}

.icon3{
    width: 21px;
     height: 21px;
     border-radius: 16px;
     background-color: #ffa507;
     border: 4px solid #ffffff;
     background-image:url(./img/Shape\ 153.png);
     position: relative;
     left: 95px;
     top: 90px;}

 .icon4{
     width: 21px;
     height: 21px;
     border-radius: 16px;
    background-color: blue;
    border: 4px solid #ffffff;
    background-image:url(./img/Shape\ 170.png);
     position: relative;
     left: 95px;
     top: 90px;}


    
        





       
       

